Json_AWS_Step_Functions.json
{
  "Comment": "Assistente de Delivery usando AWS Step Functions e Bedrock",
  "StartAt": "Receber_Pedido",
  "States": {
    "Pedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:PedidoFunction",
      "Next": "Disponibilidade"
    },
    "Disponibilidade": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:DisponibilidadeFunction",
      "Next": "Custo"
    },
    "Custo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:CustoFunction",
      "Next": "Confirmar"
    },
    "Confirmar": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.disponibilidade",
          "BooleanEquals": true,
          "Next": "Pagamento"
        },
        {
          "Variable": "$.disponibilidade",
          "BooleanEquals": false,
          "Next": "Indisponivel"
        }
      ]
    },
    "Pagamento": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:PagamentoFunction",
      "Next": "Notificar"
    },
    "Indisponivel": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:IndisponivelFunction",
      "End": true
    },
    "Notificar": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:NotificarFunction",
      "Next": "Entrega"
    },
    "Entrega": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:EntregaFunction",
      "End": true
    }
  }
}
