Json_AWS_Step_Functions.json
{
  "Comment": "Assistente de Delivery usando AWS Step Functions e Bedrock",
  "StartAt": "Receber_Pedido",
  "States": {
    "Receber_Pedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:Receber_PedidoFunction",
      "Next": "Verificar_Disponibilidade"
    },
    "Verificar_Disponibilidade": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:Verificar_DisponibilidadeFunction",
      "Next": "Custo_Entrega"
    },
    "Custo_Entrega": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:Custo_EntregaFunction",
      "Next": "Confirmar_Pedido"
    },
    "Confirmar_Pedido": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.disponibilidade",
          "BooleanEquals": true,
          "Next": "Pagamento"
        },
        {
          "Variable": "$.disponibilidade",
          "BooleanEquals": false,
          "Next": "Indisponivel"
        }
      ]
    },
    "Pagamento": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:PagamentoFunction",
      "Next": "Notificar"
    },
    "Indisponivel": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:IndisponivelFunction",
      "End": true
    },
    "Notificar": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:NotificarFunction",
      "Next": "Entrega"
    },
    "Entrega": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:EntregaFunction",
      "End": true
    }
  }
}
